<div class="tiles">
  {% for item in content %}
    {% include "@molecules/box-thumbnail.twig" with {
      style: item.style,
      img: item.img,
      title: item.title,
      content: item.content
    } %}
  {% endfor %}
</div>
