<div id="wrapper">
  {% include '@organisms/phantom-header.twig' %}
  <div id="main">
    <div class="inner">
      {% include "@molecules/phantom-intro.twig" %}
      {% include "@organisms/box-thumbnail-grid.twig" %}
    </div>
  </div>
  <footer id="footer">
    {% include "@organisms/phantom-footer.twig" %}
  </footer>
</div>
