<div class="inner">
  <section>
  	{% include '@atoms/contact-h2.twig' %}
  	{% include '@molecules/contact-form.twig' %}
  </section>
  <section>
  	{% include '@atoms/follow-h2.twig' %}
  	{% include '@molecules/social-media.twig' %}
  </section>
  {% include '@molecules/copyright.twig' %}
</div>
