<article class="box-thumbnail {{boxcolor}}">
  <span class="box-thumbnail__image-wrapper">
    <img src="{{img}}" class="box-thumbnail__img" alt="">
  </span>
  <a href="generic.html" class="box-thumbnail__link">
    <h2 class="box-thumbnail__title">{{title}}</h2>
    <div class="box-thumbnail__content">
      <p>{{content}}</p>
    </div>
  </a>
</article>
