<article class="box-thumbnail__article {{boxcolor}}">
  <span class="box-thumbnail__span">
    <img src="{{img}}" class="box-thumbnail__img" alt="">
  </span>
  <a href="generic.html" class="box-thumbnail__link">
    <h2 class="box-thumbnail__h2">{{title}}</h2>
    <div class="box-thumbnail__content">
      <p>{{content}}</p>
    </div>
  </a>
</article>
