<form method="post" action="#">
  <div class="field half first">
  	{% include '@atoms/name-input-field.twig' %}
  </div>
  <div class="field half">
  	{% include '@atoms/email-input-field.twig' %}
  </div>
  <div class="field">
  	{% include '@atoms/message-textarea.twig' %}
  </div>
  <ul class="actions">
  	<li>
      {% include '@atoms/send-input-field.twig' %}
    </li>
  </ul>
</form>
